.speech {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15;
    color: #000;
}

.song {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15;
    color: #000;
}

.direction {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15;
    color: #000;
    background-color:#6edcdc;
}

.direction:hover {
    color: #c90d0d;
    background:#d6d198;
}

.Samuel {

    color:#1ee02e
}

.King {

    color: #4c37ea;
}

.Frederic {
    color: #f412ce;
}

.ALL {
    color:#f9780e;
}

.cast-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.cast-table th,
.cast-table td {
  border: 1px solid #333;
  padding: 8px 12px;
  text-align: left;
}

.cast-table tr:first-child {
  background-color: #6edcdc;
}

.cast-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

h4:hover {
  color: red;
  border: 1px solid rgb(58, 207, 35);
  text-shadow: 2px 2px 5px gray; /* adds a gray blur shadow */
}