.speech {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15;
    color: #000;
}

.song {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15;
    color: #000;
}

.direction {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15;
    color: #000;
    background-color:#6edcdc;
}

.direction:hover {
    color: #c90d0d;
    background:#d6d198;
}

.Samuel {

    color:#1ee02e
}

.King {

    color: #4c37ea;
}

.Frederic {
    color: #f412ce;
}

.ALL {
    color:#f9780e;
}



